.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin: 15px auto;
}

.btn {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  outline: none;
  background: #457B9D;
  border: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #F1FAEE;
}
