.App {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  height: 100%;
}

.title {
    margin: 2rem auto;
    color: #F1FAEE;
    font-size: 3rem;
}

.description {
  color: #F1FAEE;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #F1FAEE;
}
